<div class="products_list">
    <h2 class="products_title">Lista de productos</h2>
    {{#if data}}
    <div class="products_table">
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th>Precio</th>
                    <th>Categoria</th>
                    <th>Stock</th>
                    <th>Foto</th>
                </tr>
            </thead>
            <tbody>
                {{#each data}}
                <tr>
                    <td>{{this.title}}</td>
                    <td>{{this.description}}</td>
                    <td>{{this.price}}</td>
                    <td>{{this.category}}</td>
                    <td>{{this.stock}}</td>
                    <td>
                        <img src="{{this.thumbnails}}" alt="{{this.title}}" />
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    {{else}}
    <h3>No se encontraron productos</h3>
    {{/if}}
</div>